@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@font-face {
    font-family: 'big_shoulers_display.otf';
    src: url('font/big_shoulers_display.otf'),
         url('font/big_shoulers_display.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        'primeira segundo terceiro'
    ;
    
    margin: 0 auto;
    padding: 10px;
    
}
.container > main {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



main > div {
    
    height: 52%;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    padding: 40px;

    
}
.item1 {grid-area: primeira;}
.item2 {grid-area: segundo;}
.item3 {grid-area: terceiro;}

img {
    width: 64px;
}
.item1 {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
      
}
.item2 {
    background-color: hsl(184, 100%, 22%);
    
}
.item3 {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
h1 {
    font-family: 'big_shoulers_display';
    font-weight: 700;
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    
}
p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);

}
div > a {
    padding: 12px;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    width: auto;    
}
.aprendaMais {
    margin-top: 50px;
}
#sedans-buttom {
    color:  hsl(31, 77%, 52%);
}

#suvs-buttom {
    color: hsl(184, 100%, 22%);
}

#luxury-buttom {
    color: hsl(179, 100%, 13%);
}
#sedans-buttom:hover {
    background-color: hsl(31, 77%, 52%);
    border: 1px solid white;
    color: white;
}
#suvs-buttom:hover {
    background-color: hsl(184, 100%, 22%);
    border: 1px solid white;
    color: white;
}
#luxury-buttom:hover {
    background-color: hsl(179, 100%, 13%);
    border: 1px solid white;
    color: white;
}
@media (max-width: 739px){
    
    .container {
       
        margin-bottom: 10px;
    }
    .container > main {
        width: 70%;
        flex-flow: row wrap;
        margin-top: 50px;
    
    }   
    main {
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 200px;
    grid-template-areas: 
        'primeira'
        'segundo'
        'terceiro';
    }
    main > div {
        height: auto;
    }
    .aprendaMais {
    margin-top: 20px;
    
    }
    .item1 {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;    
    }

    .item3 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    }
    
}